.all{
  background-color: whitesmoke;
}

.title {
  padding: 40px;
  display: block;
  text-align: center;
  font-size: 40px;
  font-family:Arial, Helvetica, sans-serif;
  color:#926244;;
  text-decoration: none;
}

.center-contents{
  justify-content: center;
  display: flex;
  text-align: center;
  font-weight: bold;
}

.user-nickname{
  margin-right: 50px;
  font-size: 20px;
  color: #926244;
  text-decoration: none;
}

.logout{
  font-size: 20px;
  text-decoration: none;
  color: #926244;
  display: inline-block;
  position: relative;

}

.logout::before{
  content: "";
  position: absolute;
  left: 0;
  bottom: 1px;
  width: 100%;
  height: 3px;
  background:#926244;
  transform: scale(0, 1);
  transition: 0.4s;
}

.logout:hover::before{
  transform: scale(1);
}

.registrations{
  margin-right: 50px;
  font-size: 20px;
  display: inline-block;
	position: relative;
  color: #926244;
  text-decoration: none;
}

.registrations::before{
  content: "";
  position: absolute;
  left: 0;
  bottom: 1px;
  width: 100%;
  height: 3px;
  background:#926244;
  transform: scale(0, 1);
  transition: 0.4s;
}

.registrations:hover:before{
  transform: scale(1);
}



.sessions{
  font-size: 20px;
  text-decoration: none;
  display: inline-block;
	position: relative;
  color: #926244;
}

.sessions::before{
  content: "";
  position: absolute;
  left: 0;
  bottom: 1px;
  width: 100%;
  height: 3px;
  background:#926244;
  transform: scale(0, 1);
  transition: 0.4s;
}

.sessions:hover::before{
  transform: scale(1);
}

.cat-information{
  color:white;
  padding: 0 0 0 10px;
  margin: 20px;
  font-size: 20px;
  border-radius: 4px;
  background-color:#967249;
}









.list {
  display: block;
  overflow: hidden;
  border-bottom: 1px solid #926244;	/*下線の幅、線種、色*/
  padding: 20px; /*ボックス内の余白*/
  line-height: 3;
}
/*h4見出しの設定*/
.list h1 {
	color: #926244;	/*文字色*/
  font-size: 40px;
  text-decoration: none;
  text-align:left ;
  margin-top: -30px;

}
/*画像の設定*/
.image-2 {
  border-radius: 4px;
  width: 25%;  /*画像幅*/
  float: left;  /*画像を左に回り込み*/
  margin-right: 3% /*画像の右側に空けるスペース*/
}

/*段落タグ*/
.list p {
  padding: 0 !important;
  
}

.cat-age{
  font-size: 20px;
  font-weight: bold;
  color: #926244;
  display: block;
}

.cat-show{
  margin-top: 20px;
  text-decoration: none;
  font-weight:bold;
  color: #926244;
  display: inline-block;
  position: relative;
}

.cat-show::before{
  content: "";
  position: absolute;
  left: 0;
  bottom: 12px;
  width: 100%;
  height: 3px;
  background:#926244;
  transform: scale(0, 1);
  transition: 0.4s;
}

.cat-show:hover::before{
  transform: scale(1);
}



.cat-btn {
  width: 120px;
  background:#967249;
  text-align: center;
  border-radius: 4%;
  bottom: 32px;
  right: 32px;
  position: fixed;
  padding: 15px;
  text-decoration: none;

}

.cat-btn-text {
  color:black;
  font-size: 18px;
  margin-bottom: 5px;
}

.cat-btn-icon {
  width: 60%;
  
}



img{
	width: 100%;
	height: auto;
	vertical-align: bottom;/*画像の下にできる余白を削除*/
}

/*メイン画像下に余白をつける*/

.gallery{
	margin:0 0 5px 0;
}

.gallery li{
list-style:none;
}

/*矢印の設定*/

/*戻る、次へ矢印の位置*/
.slick-prev, 
.slick-next {
    position: absolute;/*絶対配置にする*/
	z-index: 3;
    top: 42%;
    cursor: pointer;/*マウスカーソルを指マークに*/
    outline: none;/*クリックをしたら出てくる枠線を消す*/
    border-top: 2px solid #ccc;/*矢印の色*/
    border-right: 2px solid #ccc;/*矢印の色*/
    height: 25px;
    width: 25px;
}

.slick-prev {/*戻る矢印の位置と形状*/
    left:2.5%;
    transform: rotate(-135deg);
}

.slick-next {/*次へ矢印の位置と形状*/
    right:2.5%;
    transform: rotate(45deg);
}

/*選択するサムネイル画像の設定*/

.choice-btn li{
	cursor: pointer;
	outline: none;
	background:#333;
	width:25%!important;
list-style:none;
}

.choice-btn li img{
	opacity: 0.4;/*選択されていないものは透過40%*/
}

.choice-btn li.slick-current img{
	opacity: 1;/*選択されているものは透過しない*/
}